<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>

  <!-- Log4net configuration  -->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- The location of the log file can be changed here  -->
      <param name="File" value="C:\Logs\CockpitWCFServicesLogs.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="12" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>

  <!-- Connection strings  -->
  <connectionStrings>
    <add name="CockpitWSFServices.My.MySettings.SputnikCockpit_ConnectionString"
      connectionString="Data Source=192.168.19.53;Initial Catalog=&quot;Sputnik Cockpit Server&quot;;User ID=SPContract_User;Password=12SPContract_User34"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- WCF service configuration  -->
  <system.serviceModel>

    <!-- ================== -->
    <!-- Bindings           -->
    <!-- ================== -->
    <bindings>
      <wsHttpBinding>
        <binding name="ServiceBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000"
            messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000" maxArrayLength="20000000"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="Message">
            <message clientCredentialType="None"
										 negotiateServiceCredential="true"
										 algorithmSuite="Default"
										 establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!-- ================== -->
    <!-- Services           -->
    <!-- ================== -->
    <services>
      <service name="CockpitWSFServices.TableDataUploadService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ServiceBinding" contract="CockpitWSFServices.ITableDataUploadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <!-- Development: 
            <add baseAddress = "http://localhost:1331/TableDataUploadService/" />
            -->
            <!-- Live: -->
            <add baseAddress = "http://localhost/mycockpitWebServices/TableDataUploadService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- ================== -->
    <!-- Behaviors          -->
    <!-- ================== -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <!-- Legen Sie den Wert unten auf "false" fest, um die Veröffentlichung von Metadateninformationen zu vermeiden, und entfernen Sie den Metadatenendpunkt oben vor der Bereitstellung. -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Damit in Fehlern Ausnahmedetails zum Debuggen angezeigt werden, legen Sie den Wert unten auf "true" fest. Legen Sie ihn vor der Bereitstellung auf "false" fest, um die Veröffentlichung von Ausnahmeinformationen zu vermeiden. -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <serviceCertificate 
              findValue="mycockpitWebServiceCertificate" 
              storeLocation="LocalMachine"
              storeName="My" 
              x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
