<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zur Verwendung der Transformation von "web.config" finden Sie unter http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="connectionString" value="Password=12SPContract_User34;User ID=SPContract_User;Initial Catalog=spContract;Data Source=192.168.19.52" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="SpContractConnectionString" connectionString="Data Source=192.168.19.52;Initial Catalog=SpContract;User ID=SPContract_User;Password=12SPContract_User34" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>