<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPWebService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <!--
    Eine Beschreibung der Änderungen von 'web.config' finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für die <httpRuntime>-Kennung festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Legen Sie beim Kompilieren debug="true" fest, um 
            Debugsymbole in die kompilierte Seite einzufügen. 
            Da dies die Leistung beeinträchtigt, sollte der 
            Wert nur beim Entwickeln auf "True" gesetzt werden.
        -->
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
            Der Abschnitt <authentication> ermöglicht die Konfiguration 
            des Sicherheitsauthentifizierungsmodus, mit dem 
            ASP.NET eingehende Benutzer identifiziert. 
        -->
    <customErrors defaultRedirect="" mode="Off"/>
    <authentication mode="Forms"/>
    <!--
            Der Abschnitt <customErrors> ermöglicht die Konfiguration 
            der Vorgehensweise bei unbehandelten Fehlern während 
            der Anforderungsausführung. Insbesondere können 
            Entwickler HTML-Fehlerseiten konfigurieren, die anstelle 
            einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Der system.webServer-Abschnitt ist zum Ausführen von ASP.NET-AJAX unter
        Internetinformationsdienste 7.0 erforderlich. Für frühere Versionen von
        IIS ist er nicht erforderlich.
    -->
  <applicationSettings>
    <SPWebService.My.MySettings>
      <setting name="connectionString" serializeAs="String">
        <value>Password=12SPContract_User34;Persist Security Info=True;User ID=SPContract_User;Initial Catalog=spUpdates;Data Source=192.168.19.53</value>
      </setting>
      <setting name="RootconnectionString" serializeAs="String">
        <value/>
      </setting>
      <setting name="FileSaveToLocation" serializeAs="String">
        <value>C:\Temp\</value>
      </setting>
      <setting name="MySmtpServer" serializeAs="String">
        <value>smtp.magnet.ch</value>
      </setting>
      <setting name="bSaveAllLOGS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bSaveJustErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bDeleteUploadFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="errMailFrom" serializeAs="String">
        <value>spwebService@sputnik-it.com</value>
      </setting>
      <setting name="errMailTo" serializeAs="String">
        <value>error@sputnik-it.ch</value>
      </setting>
      <setting name="errMailSubject" serializeAs="String">
        <value>Fehler...</value>
      </setting>
      <setting name="errMailBody" serializeAs="String">
        <value>Anbei eine Fehlermeldung...</value>
      </setting>
      <setting name="ConnStr_GAV" serializeAs="String">
        <value>Password=1234;Persist Security Info=True;User ID=GAVUser;Initial Catalog=Sputnik GAV;Data Source=192.168.19.115</value>
      </setting>
      <setting name="ConnStr_Vak" serializeAs="String">
        <value>Password=12SPContract_User34;Persist Security Info=True;User ID=SPContract_User;Initial Catalog=spContract;Data Source=192.168.19.53</value>
      </setting>
      <setting name="ConnStr_MA" serializeAs="String">
        <value>Password=12SPContract_User34;Persist Security Info=True;User ID=SPContract_User;Initial Catalog=spContract;Data Source=192.168.19.53</value>
      </setting>
      <setting name="strErrorLOGFile" serializeAs="String">
        <value>C:\Temp\WS_Err.Text</value>
      </setting>
      <setting name="strProgLOGFile" serializeAs="String">
        <value>C:\Temp\WS_Prog.Text</value>
      </setting>
      <setting name="ConnStr_KD" serializeAs="String">
        <value>Password=12SPContract_User34;Persist Security Info=True;User ID=SPContract_User;Initial Catalog=spContract;Data Source=192.168.19.53</value>
      </setting>
      <setting name="ConnStr_SystemInfo" serializeAs="String">
        <value>Password=12SPContract_User34;Persist Security Info=True;User ID=SPContract_User;Initial Catalog=spSystemInfo;Data Source=192.168.19.70</value>
      </setting>
      <setting name="SettingDb_Connection" serializeAs="String">
        <value>Password=12SPContract_User34;Persist Security Info=True;User ID=SPContract_User;Initial Catalog=spContract;Data Source=192.168.19.53</value>
      </setting>
      <setting name="ConnStr_Scanning" serializeAs="String">
        <value>Password=12SPContract_User34;Persist Security Info=True;User ID=SPContract_User;Initial Catalog=spScanJobs;Data Source=192.168.19.70</value>
      </setting>
    </SPWebService.My.MySettings>
  </applicationSettings>
</configuration>