<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UploadClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!-- Connection strings -->
  <connectionStrings>
    <add name="UploadClient.My.MySettings.SputnikCockpit_ConnectionString"
       connectionString="Data Source=192.168.19.52;Initial Catalog=&quot;Sputnik Cockpit&quot;;Integrated Security=True"
       providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Log4net configuration  -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- The location of the log file can be changed here  -->
      <param name="File" value="C:\Logs\UploaderLogs.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="12"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="Info"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>

  <!-- Settings -->
  <applicationSettings>
    <UploadClient.My.MySettings>
      <setting name="DBName" serializeAs="String">
        <value>Sputnik Cockpit</value>
      </setting>
      <setting name="CustomerName" serializeAs="String">
        <value>Mustermann AG</value>
      </setting>
      <setting name="ServerCertThumbprint" serializeAs="String">
        <value>7E43DA9185BDB24FF2B4E73BD74DBA8406D568A6</value>
      </setting>
      <setting name="EndpointAddress" serializeAs="String">
        <!-- Debug -->
          <!--<value>http://SPBL03/mycockpitWebServices/TableDataUploadService.svc</value>-->
          <value>http://localhost:1331/TableDataUploadService.svc</value>
        <!-- Live -->
        <!-- <value>http://asmx.sputnik-it.com/mycockpitWebServices/TableDataUploadService.svc</value> -->
      </setting>
      <setting name="Certificate" serializeAs="String">
        <value>MIICLTCCAZqgAwIBAgIQBCE2szVhQIBI0OcT/6KAVjAJBgUrDgMCHQUAMCkxJzAlBgNVBAMTHm15Y29ja3BpdFdlYlNlcnZpY2VDZXJ0aWZpY2F0ZTAeFw0xMTEwMjEwODM5MDFaFw0zOTEyMzEyMzU5NTlaMCkxJzAlBgNVBAMTHm15Y29ja3BpdFdlYlNlcnZpY2VDZXJ0aWZpY2F0ZTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA4Zmcj7i7CpY9e1efJK9gVMiUjWY+X29kHc5Tbl2lKIutZVtsW1GmKwJ0CKLk+Y4NpyK+PhW3XrIPgMyIKqDj/qHUOxtdx05ocut9pOdHs3tX3vxqsBgQ39GEJ4O+0fJ5Dv18G6fLMh9OIIUkDOlU1dfCQGZyGTVKAzmEgLauVCUCAwEAAaNeMFwwWgYDVR0BBFMwUYAQaZQIMSTKLVajwuk2Z4NAhKErMCkxJzAlBgNVBAMTHm15Y29ja3BpdFdlYlNlcnZpY2VDZXJ0aWZpY2F0ZYIQBCE2szVhQIBI0OcT/6KAVjAJBgUrDgMCHQUAA4GBAIyrrWYNMB+w+krqjdl7vsqrNdYXpN9SxsCGeG7wi7RHg4v59ol93syexEh24OH+Gh4fsCok0vF+9KrLbgUjTNCo7G3NzEZHtgLFpwA2Hh5iPIVbnIJlyL/M1aC2K3ewkEHizN7BB4+kitfO+R1aeSqDPYrYbLyOjVX2QNOpwt96</value>
      </setting>
    </UploadClient.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
